<app-header></app-header>
<h1>Make Header Footer</h1>
<h1>Simple form in Angular</h1>
<form #simpleForm="ngForm" (ngSubmit)="getUserValue(simpleForm.value)" >
    <input type="text" ngModel name="username" placeholder="Enter name"><br><br>
    <input type="password" ngModel name="password" placeholder="Enter Password"><br><br>
    <input type="text" ngModel name="age" placeholder="Enter Age"><br><br>
    <input type="text" ngModel name="address" placeholder="Enter address"><br><br>
    <button>Get Value</button>
</form>
<h1>Style Binding in Angular</h1>
<h1 style="color:red">Header 1</h1>
<h1 [style.color]="'green'">Header 1</h1>
<h1 [style.color]="color">Dynamic Header 1</h1>
<h1 [style.color]="err?'red':'green'">Conditional Header</h1>
<button (click)="updateColor()" >Update Color</button>
<app-footer></app-footer>