<h1>Lazyloading in Angular</h1>
<h3>Admin Link</h3>
<ul>
    <li>
        <a routerLink="admin/login">Login</a>
    </li>
    <li>
        <a routerLink="admin/list">List</a>
    </li>
</ul>
<br>
<br>
<h3>User Link</h3>
<ul>
    <li>
        <a routerLink="user/login">Login</a>
    </li>
    <li>
        <a routerLink="user/list">List</a>
    </li>
</ul>
<br><br>
<button (click)="loadAdmin()">Load Admin List</button>
<button (click)="loadUser()">Load User List</button>
<router-outlet></router-outlet>