/* You can add global styles to this file, and also import other style files */
@import '~material-icons/iconfont/material-icons.css';
body
{
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-color: #18387a;
}